{% extends "base.html" %}


{% block content %}
<nav>
    <h1>Photos to be Approved</h1>
</nav>
<section class="content">
    {%- if photos %}
    <form action="do_approve" method="post" novalidate>
        <div class="wg-card wg-card-two">
        {% for photo in photos %}
        <img src="{{photo.link}}"/>
        <input class="approve-checkbox" type="checkbox" name="checkbox-list" value="{{ photo.id }}">
        {% endfor %}
        </div>
        <br>
        <input class="wg-button" style="text-align: center" type="submit" value="Approve Selected">
    </form>
    {% else %}
    No photos to be approved
    {% endif %}
</section>
{% endblock %}
