<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
</head>

</body>
    {% with messages = get_flashed_messages() %}
        <div>
            <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
{% endwith %}
    <button type="button" onclick="window.location.href='{{ url_for('index') }}';">Home</button>
    <button type="button" onclick="window.location.href='{{ url_for('users') }}';">Users</button>
    <button type="button" onclick="window.location.href='{{ url_for('login') }}';">Login</button>

    {% block content %}{% endblock %}

</body>
</html>
