<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title if title else 'Wedding Gallery' }}</title>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Gallery</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('upload') }}">Upload Photos</a>
            </li>
            {% endif %}
            {% if current_user.master %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users') }}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('approve_photos') }}">Approve Photos</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item navbar-toggler-right">
                <div class="nav-link active">
                Hello! {{ current_user.name or current_user.username }}
                </div>
            </li>
            {% endif %}
            <li class="nav-item navbar-toggler-right">
                {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </li>
        </ul>
    </nav>


    {% with messages = get_flashed_messages() %}
        {% for msg in messages %}
        <div id="flash" class="alert alert-info" role="alert">
            {{ msg }}
        </div>
        {% endfor -%}
    {% endwith %}

    <div class="container-fluid body-center" >
    {% block content %}{% endblock %}
    </div>

    <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
    window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">')
    </script>

    <script src="{{ url_for('static', filename='base.js') }}"></script>

    {% block scripts %}{% endblock %}

</body>
</html>
