<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title if title else 'Wedding Gallery' }}</title>
</head>

</body>
    <div>
        <button type="button" onclick="window.location.href='{{ url_for('index') }}';">Home</button>
        {% if current_user.master %}
        <button type="button" onclick="window.location.href='{{ url_for('users') }}';">Users</button>
        <button type="button" onclick="window.location.href='{{ url_for('approve_photos') }}';">Approve Photos</button>
        {% endif %}
        {% if current_user.is_anonymous %}
        <button type="button" onclick="window.location.href='{{ url_for('login') }}';">Login</button>
        {% else %}
        <button type="button" onclick="window.location.href='{{ url_for('logout') }}';">Logout</button>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
    <div>
        <ul>
            {% for msg in messages %}
            <li>{{ msg }}</li>
            {% endfor -%}
        </ul>
    </div>
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>
