{% extends "base.html" %}


{% block content %}
    <h1>Create User</h1>
    <form action="do_create_user" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        {{form.master}} {{form.master.label}}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
