{% extends "base.html" %}


{% block content %}
<nav>
    <h1>Wedding Gallery</h1>
</nav>
<div>
Sort by:
    <a href="{{ url_for('index', sort_on='timestamp') }}">Date</a>
    |
    <a href="{{ url_for('index', sort_on='number_of_likes') }}">Likes</a>
<br>
</div>
<section class="content">
    {%- set sort_on = request.args.sort_on|default('timestamp') %}
    {%- for photo in photos|sort(attribute=sort_on, reverse=True) %}
    <div id="show-photos">
        <img src="{{photo.link}}"/>
        {%- if photo.number_of_likes %}
        ♥ {{ photo.number_of_likes }}
        {%- endif %}
        <br>
        <button type="button" onclick="window.location.href='{{ url_for('do_like') }}';">Like</button>
        <br>
        <br>
    </div>
    {%- else %}
        No images to gallery yet
    {%- endfor %}
</section>
{% endblock %}
