{% extends "base.html" %}

{% block content %}

<ul>
    {# System must have at least one master user, checking just in case #}
    {% if users %}
    <form action="users/delete_users" method="post" novalidate>
        <table>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Select</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>
                    {{ user.name or ''}}
                </td>
                <td>
                    {{'*' if user.master }}{{ user.username }}
                </td>
                <td>
                    <input type="checkbox" name="checkbox-list" value="{{ user.id }}">
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Delete Users">
    </form>
    {% else %}
    No Users Created
    {% endif %}
    <br>
    <button type="button" onclick="window.location.href='{{ url_for('create_user') }}';">Create User</button>
</ul>
{% endblock %}
